body{
	min-width: 900px;
	
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	font-family: "Roboto Medium", "Tahoma", sans-serif;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.main-header{ /* шапка */
	margin-bottom: 80px;
	
	background-color: #eeeeee;
}
.container{ /* центровщик */
	width: 880px;
	padding: 0 10px;
	margin: 0 auto;
}
.main-logo{ /* лого */
	float: left;
	width: 139px;
	height: 56px;
	
	margin-top: 25px;
	margin-right: 180px;
}
.main-logo img{
	width: 139px;
	height: 56px;
}
.navigation-menu{ /* основная навигация */
	float: left;
	width: 460px;
	
	margin-top: 55px;
	margin-bottom: 46px;
}
.navigation-menu ul{
	margin: 0;
	padding: 0;
	
	font-size: 0;
	list-style: none;
}
.navigation-menu li{
	display: inline-block;
	
	font-size: 14px;
	vertical-align: top;
}
.navigation-menu a{
	display: block;
	margin-right: 49px;
	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
	color: #000000;
	font-family: "Roboto Medium", "Tahoma", sans-serif;
}
.navigation-menu a:hover{
	color: #fb565a;
}
.navigation-menu .link-active{
	position: relative;
	
	background-color: none;
}
.link-active span{
	text-transform: uppercase;
	display: block;
	padding-right: 49px;
	padding-top: 4px;
}
.navigation-menu .link-active::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 49px;
	left: 0;
	
	height: 3px;
	
	background-color: #fb565a;
}
.user-block{ /* блок пользователя */
	float: right;
	width: 100px;
	box-sizing: border-box;
	padding-left: 34px;
	margin-top: 55px;
}
.user-block  .basket{
	position: relative;
	text-decoration: none;
	font-size: 14px;
	line-height: 30px;
	color: #000000;
	font-family: "Roboto Medium", "Tahoma", sans-serif;
	text-transform: uppercase;
}
.user-block  .basket:hover{
	color: #fb565a;
}
.user-block  .basket::before{
	content: "";
	position: absolute;
	left: -28px;
	top: 0px;
	
	width: 15px;
	height: 15px;
	
	background: url("../img/sprite.png") no-repeat;
	background-position: -10px -10px;
}
.user-block  .basket:hover::before{
	background-position: -10px -45px;
}
.slider-left{ /* левая колонка слайдера */
	float: left;
	width: 380px;
}
.slider-left .slogan{
	margin-bottom: 11px;
	
	font-size: 36px;
	line-height: 36px;
}
.btn{
	display: block;
	
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto Medium", "Tahoma", sans-serif;
}
.slider-left .description-btn{
	margin-top: 27px;
	
	width: 240px;
	padding: 10px 0;
	background-color: #fb565a;
}
.description-btn:hover{
	background-color: #d6494d;
}
.description-btn:active{
	background-color: #b63538;
}
.slider-right{ /* правая колонка слайдера */
	float: right;
	width: 338px;
	height: 283px;
}
.images-slider img{ /* картинка не вылезает за пределы если она > */
	 width: 100%;
}
.slider-points{ /* переключатель слайдера */
	clear: both;
	text-align: center;
}
.service{ /* блок с предложениями */
	padding-bottom: 80px;
	border-bottom: 2px solid #eeeeee;
	
	margin-bottom: 72px;
}
.service-item{ /* предложения */
	float: left;
	width: 240px;
	margin-right: 80px;
}
.service-item-picture img{
	width: 100%;
	
	margin-bottom: 18px;
}
.service-item:last-child{
	margin-right: 0;
}
.service-name{
	font-size: 18px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}
.service-item p{
	margin-bottom: 22px;

	font-size: 15px;
}
.service-item .btn-red, .btn-green, .btn-yellow{
	width: 140px;
	padding: 10px 0;
}
.btn-red{
	background-color: #fb565a;
}
.btn-red:hover{
	background-color: #d6494d;
}
.btn-red:active{
	background-color: #b63538;
}
.btn-green{
	background-color: #00ca74;
}
.btn-green:hover{
	background-color: #01a25e;
}
.btn-green:active{
	background-color: #009053;
}
.btn-yellow{
	background-color: #efc84a;
}
.btn-yellow:hover{
	background-color: #d6ae2c;
}
.btn-yellow:active{
	background-color: #c09b24;
}
.about-company{ /* информация о компании */
	margin-bottom: 68px;
}
.about-company-left{
	float: left;
	width: 621px;
}
.about-company-left .title-company{
	margin: 0;
	padding-bottom: 5px;
	
	font-size: 36px;
	line-height: 36px;
}
.about-company-left p{
	padding-bottom: 20px;
}
.about-company-left .title-features{
	padding-bottom: 10px;
}
.title-features{
	text-transform: uppercase;
	padding-bottom: 10px;
}
.list-features{
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.list-features li{
	position: relative;

	padding-left: 37px;
	padding-bottom: 16px;
}
.list-features li::before{ /* красные полоски */
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	
	width: 25px;
	height: 2px;
	
	background-color: #fb565a;
}
.about-company-right{
	float: right;
	width: 240px;
	
	background: url("../img/hr.png") no-repeat 5px 102px;
}
.about-company-right .secondary-logo{
	width: 139px; 
	height: 56px;
	padding-left: 50px;
	margin-bottom: 117px;
}
.secondary-logo .mark{
	line-height: 8.56px;
	text-transform: uppercase;
	font-weight: normal;
	padding-top: 38px;
	text-align: center;
	padding-left: 10px;
}
.secondary-logo img{
	width: 139px; 
	height: 56px;
}
.partners{ /* партнеры */
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	padding-top: 45px;
	padding-bottom: 33px;

	margin-bottom: 85px;
}
.partners-logo{
	float: left;
	width: 240px;
	margin-right: 80px;
	opacity: 0.2;
}
.partners-logo:hover{
	opacity: 1;
}
.partners-logo:active{
	background-color: transparent;
}
.partners-logo:last-child{
	margin-right: 0;
}
/*.contact-window{  окошко на карте
	width: 250px;
}
*/
.social{
	float: left;
	width: 240px;
	padding: 70px 0;
	font-size: 0;

	margin-right: 80px;
}
.social-btn{
	display: inline-block;
	width: 60px;
	height: 59px;
	border-radius: 40px;
	margin-right: 25px;
	
	vertical-align: top;
	background: #eeeeee url("../img/sprite.png") no-repeat center;
}
.social-btn:last-child{
	margin-right: 0;
}
.social-vk{
	background-position: 6px -263px;
}
.social-fb{
	background-position: 13px -123px;
}
.social-inst{
	background-position: 10px -164px;
}
.social-btn:hover{
	background-color: #fb565a;
}
.social-btn:active{
	background-color: #d6494d;
}
.footer-information{	
	float: right;
	width: 560px;
	padding: 42px 0;
}
.footer-information h2{
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
.footer-information p{
	color: #283136;
}

/* inner.html */
.header-welcome-shop{
	text-align: center;
	padding-left: 90px;
	padding-right: 100px;
	padding-bottom: 90px;
	
	text-transform: uppercase;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
}
.information-main{
	margin-bottom: 75px;
}
.information-left{
	float: left;
	width: 240px;
	margin-right: 80px;
}
.information-left p{
	margin: 0;
	padding-bottom: 20px;
	padding-top: 37px;
	
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}
.information-left p:first-child{
	padding-top: 0;
}
.information-left .choice{
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.submit{
	margin-top: 37px;
	width: 160px;
	padding: 10px 0;
	
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	border: none;
	outline: none;
	font-family: "Roboto Medium", "Tahoma", sans-serif;
	background-color: #f1f1f1;
}
.submit:hover{
	background-color: #e5e5e5;
}
.submit:active{
	background-color: #d5d5d5;
}
.information-right{
	float: right;
	width: 560px;
}
.sorting b{
	padding-right: 43px;
	
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}
.information-right .sorting{
	position: relative;
	margin-bottom: 18px;
}
.sorting a{
	margin-right: 40px;
	
	text-decoration: none;
	font-size: 12px;
	line-height: 18px;
	color: #c7c7c7;
	text-transform: uppercase;
	border-bottom: 1px dotted #00ca74;
	font-family: "Roboto Medium", "Tahoma", sans-serif;
}
.sorting a:hover{
	color: #000000;
}
.sorting a:active{
	color: #000000;
	border: none;
}
.sorting .sorting-item-arrow{
	position: absolute;
	margin-right: 5px;
	
	width: 11px;
	height: 10px;
	text-decoration: none;
	border: none;
	background: transparent url("../img/sprite.png") no-repeat center;
	opacity: 0.2;
}
.sorting .sorting-item-arrow:active{
	opacity: 1;
}
.sorting .arrow-bottom{
	right: 0;
	bottom: 5px;
	background-position: -10px -80px;
}
.sorting .arrow-top{
	right: 15px;
	bottom: 5px;
	background-position: -10px -223px;
}

.gallery-browser{ /* браузерная плашка */
	width: 240px;
	border-radius: 5px 5px 0 0;
	background-color: #f1f1f1;
	min-height: 30px; 
}
.gallery-browser:hover{
	background-color: #797979;
}
.gallery-browser .browser-circle{ /* круглишки */
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;

	width: 10px;
	height: 10px;

	border-radius: 10px;
	background: #ffffff;
}
.gallery-model{
	font-size: 0;
}
.gallery-model-item{ /* карточка */
	position: relative;

	display: inline-block;
	vertical-align: top;
	margin-right: 80px;
}
.block-window{ /* блок-окно */
	position: absolute;
}
.gallery-model-item:nth-child(2n){
	margin-right: 0;
}
.pagination{
	margin-top: 80px;
}
.pagination-number{
	padding: 10px 15px;
	margin-right: 10px;

	font-weight: 700;
	text-decoration: none;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	background-color: #f1f1f1;
}
.pagination-number:nth-child(4){
	text-transform: uppercase;
	font-weight: 700;
}
.pagination-number:hover{
	background-color: #e5e5e5;
}
.pagination-number:active{
	background-color: #d5d5d5;
	border-top: 3px solid #b5b5b5;
}
.pagination-active{
	display: inline-block;
	padding: 6px 14px;
	margin-right: 10px;
	
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	background: none;
	border: 2px solid #f1f1f1;
}







